body {
    font-family: "Verdana";
    margin: 0px auto;
    color: #333;

}

.dc-chart g.state path {
    stroke: #333;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.dc-chart g.row text {
    fill: black;
}

#dc-datacount {
    margin-bottom: 20px;
}